@model Tuple<List<CityViewModel>, int, int>
@{
    ViewData["Title"] = "شهرها";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Admin">پیشخوان</a></li>
        <li class="breadcrumb-item " aria-current="page"><a asp-controller="Location" asp-action="Index"> استان ها</a></li>
          <li class="breadcrumb-item active" aria-current="page">لیست شهر ها</li>
    </ol>
</nav>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">لیست شهر ها</h6>
                <div>
                    <div id="dataTableExample_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="dataTables_length" id="dataTableExample_length">
                                    <label><a role="button" asp-controller="Location" asp-action="CreateCity" asp-route-stateId="@ViewBag.StateId"  class="btn btn-outline-success">افزودن شهر</a></label>
                                 

                                </div>
                            </div>
                            <div class="col-sm-12 col-md-8">
                                <div id="dataTableExample_filter" class="dataTables_filter">

                                    <form class="row" href="/Admin/Cities">
                                       
                                        <input type="hidden" name="state" value="@ViewBag.StateId" />
                                        <input type="text" name="search" class="form-control col-md-5" placeholder="جستجو" aria-controls="dataTableExample">
                                        <button type="submit" class="mr-2 btn btn-outline-warning">
                                            فیلتر
                                        </button>
                                        <a role="button" asp-controller="Location" asp-action="Cities"  asp-route-state="@ViewBag.StateId" class="mr-2 btn btn-outline-info">تازه سازی</a>
                                    </form>
                                </div>
                            </div>
                        </div><div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table id="dataTableExample" class="table dataTable no-footer" role="grid" aria-describedby="dataTableExample_info">
                                    <thead>
                                        <tr role="row">
                                            <th>نام شهر</th>

                                            <th>عملیات</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model.Item1)
                                        {
                                            <tr role="row" id="item_@item.CityId">

                                                <td>@item.CityName</td>

                                                <td>
                                                    <a role="button" asp-controller="Location" asp-action="EditCity"  asp-route-id="@item.CityId" class="btn btn-outline-warning">ویرایش</a>
                                                    <button onclick="DeleteCity('@item.CityId')" class="btn btn-outline-danger">پاک کردن</button>
                                                </td>

                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">

                            @if (Model.Item2 > 1)
                            {
                                <div class="col-sm-12 col-md-12">
                                    <div class="dataTables_paginate paging_simple_numbers" id="dataTableExample_paginate">
                                        <ul class="pagination">
                                            <li class="paginate_button page-item previous  @((Model.Item3-1 == 0) ? "disabled" :"")" id="dataTableExample_previous">
                                                <a href="/Admin/Cities?state=@ViewBag.StateId&page=@(Model.Item3-1)&search=@ViewBag.Search" aria-controls="dataTableExample" data-dt-idx="0" tabindex="0" class="page-link">قبلی</a>
                                            </li>
                                            @for (int i = 1; i <= (Model.Item2); i++)
                                            {
                                                <li class="paginate_button page-item active @(Model.Item3 == i ? "active" : "")">
                                                    <a href="/Admin/Cities?state=@ViewBag.StateId&page=@i&search=@ViewBag.Search" aria-controls="dataTableExample" data-dt-idx="1" tabindex="0" class="page-link">@i</a>
                                                </li>
                                            }
                                            <li class="paginate_button page-item next @((Model.Item3 + 1 > Model.Item2) ? "disabled" : "")" id="dataTableExample_next">
                                                <a href="/Admin/Cities?state=@ViewBag.StateId&page=@(Model.Item3+1)&search=@ViewBag.Search" aria-controls="dataTableExample" data-dt-idx="2" tabindex="0" class="page-link">بعدی</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
