@model ThreeBannerViewModel


    <div class="section promo-part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="promo-img">
                                <a href="@Model.ImageHomeOneLink"><img src="~/images/@Model.ImageHomeOne" alt="@Model.ImageHomeOneAlt"></a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="promo-img">
                                <a href="@Model.ImageHomeTwoLink"><img src="~/images/@Model.ImageHomeTwo" alt="@Model.ImageHomeTwoAlt"></a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="promo-img">
                                <a href="@Model.ImageHomeThreeLink"><img src="~/images/@Model.ImageHomeThree" alt="@Model.ImageHomeThreeAlt"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>