@model List<FoodCartViewModel>
@{
    ViewData["Title"] = "صفحه اصلی";
}



@await Component.InvokeAsync("SectionOneComponent")
@await Component.InvokeAsync("SectionCategoryComponent")


<section class="section recent-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading"><h2>جدید ترین پک های غذایی</h2></div>
            </div>
        </div>
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="product-card">
                        <div class="product-media">
                            <div class="product-label"><label class="label-text new">@item.Category</label></div>
                          
                            @if (User.Identity != null && User.Identity.IsAuthenticated)
                            {
                                
                                <button class="product-wish wish" onclick="AddFavorite('@item.FoodId')">
                                    <i class="far fa-heart"></i>
                                </button>
                            }
                            else
                            {
                                <button class="product-wish wish" onclick="LoginError()">
                                    <i class="far fa-heart"></i>
                                </button>
                            }
                            
                            <a class="product-image" asp-controller="Food" asp-action="FoodDetail" asp-route-id="@item.FoodId">
                                <img src="~/Images/@item.FoodImage" alt="@item.FoodTitle">
                            </a>

                        </div>
                        <div class="product-content">
                            <h6 class="product-name"><a asp-controller="Food" asp-action="FoodDetail" asp-route-id="@item.FoodId">@item.FoodTitle</a></h6>
                            <div class="product-rating">
                                @switch (item.Rate)
                                {
                                    case 1:
                                        <i class="active fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        break;
                                    case 2:
                                        <i class="active fas fa-star"></i>
                                        <i class="active fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        break;
                                    case 3:
                                        <i class="active fas fa-star"></i>
                                        <i class="active fas fa-star"></i>
                                        <i class="active fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        break;
                                    case 4:
                                        <i class="active fas fa-star"></i>
                                        <i class="active fas fa-star"></i>
                                        <i class="active fas fa-star"></i>
                                        <i class="active fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        break;
                                    case 5:
                                        <i class="active fas fa-star"></i>
                                        <i class="active fas fa-star"></i>
                                        <i class="active fas fa-star"></i>
                                        <i class="active fas fa-star"></i>
                                        <i class="active fas fa-star"></i>

                                        break;
                                }
                                <a>@item.Rate</a>
                            </div>
                            <div class="product-price">
                                <div>
                                    @if (item.FoodDiscountPrice != 0)
                                    {
                                        <del>@item.FoodPrice تومان</del><span>@item.FoodDiscountPrice تومان  </span>
                                    }
                                    else
                                    {
                                        <span> @item.FoodPrice تومان </span>
                                    }

                                </div>
                                @if (User.Identity != null && User.Identity.IsAuthenticated)
                                {<a class="product-add" onclick="AddToCart('@item.FoodId')" title="افزودن به سبد خرید"><i class="far fa-shopping-cart"></i></a>

                                }
                                else
                                {
                                    <a class="product-add" onclick="LoginError()" title="افزودن به سبد خرید" ><i class="far fa-shopping-cart"></i></a>
                                
                                }     </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="section-btn-25">
                    <a href="/foods" class="btn btn-inline"> <span> بیشتر ببینید </span> <i class="far fa-long-arrow-left float-end ms-1"></i> </a>
                </div>
            </div>
        </div>
    </div>
</section>



<partial name="_Computing" />
<partial name="_ThreeBanner" />
<partial name="_Support" />
<partial name="_FourSection" />
@await Component.InvokeAsync("FourBlogComponent")


